<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.getquip.nordic">

    <application>
        <service
            android:name=".DfuService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    </application>

</manifest>
